@using RazorLight
@inherits TemplatePage<ManageYourBudget.EmailMessages.AssignToWalletMessage>

<html>
<head>
    <style>
        .button {
            display: block;
            width: 150px;
            height: 25px;
            background: aqua;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 30px;
            margin-bottom: 30px
        }
    </style>
</head>
<body>
    <h2>@Model.By share a wallet with you!</h2>
    <div>You can see the wallet here:</div>
    <table>
        <tbody>
            <tr>
                <td style="width: 100px"></td>
                <td><a class="button" href="@Model.Link">Open wallet</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>